[core]
	attributesfile = ~/.gitattributes

[user]
	email = tymothe.billerey@gmail.com
	name = neptumiun
	signingkey = B102BA7BC5672A5D!

[core]
	editor = nvim

[init]
	defaultBranch = master

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1

[commit]
	gpgsign = true

[credential]
	helper = cache --timeout=3600

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[interactive]
	diffFilter = delta --color-only

[diff]
	colorMoved = default
[diff "image"]
	command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -
[merge]
	conflictstyle = diff3
	ff = no
	commit = no

[delta]
	navigate = true
	light = false
