[Unit]
Description=Run Satpaper on login.

# You should adjust these values as needed/preferred.
[Service]
Environment=SATPAPER_SATELLITE=meteosat10
Environment=SATPAPER_RESOLUTION_X=2256
Environment=SATPAPER_RESOLUTION_Y=1504
Environment=SATPAPER_DISK_SIZE=94
Environment=SATPAPER_TARGET_PATH=/tmp/wall
Environment=SATPAPER_WALLPAPER_COMMAND="feh --bg-scale"
; Environment=XDG_CURRENT_DESKTOP=i3

ExecStart=/home/neptunium/.cargo/bin/satpaper
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/neptunium/.satpaper.log
StandardError=append:/home/neptunium/.satpaper.log

[Install]
WantedBy=default.target
